<nav class="navbar navbar-expand-lg navbar-dark bg-info">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Bright Future Infant and Primary School</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link active" href="/">Home
            <span class="visually-hidden">(current)</span>
          </a>
        <li>
          <a class="nav-link" href="/classes">Classes
            <span class="visually-hidden">(current)</span>
          </a>
        </li>
        </li>
          <a class="nav-link" href="/meet-the-teachers">Meet the staff
            <span class="visually-hidden">(current)</span>
          </a>
        <li>
          <a class="nav-link" href="/#">About us
            <span class="visually-hidden">(current)</span>
          </a>
        </li>
        
          </div>
        </li>
      </ul>
      <form class="d-flex">
        <a class="btn btn-primary my-2 me-sm-2" href="/#">Donate</a>
        <a class="btn btn-secondary my-2 me-sm-0" href="/#">Enroll</a>
      </form>
    </div>
  </div>
</nav>