<!DOCTYPE html>
<html>
    <head>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://bootswatch.com/5/zephyr/bootstrap.min.css">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=0.65">
        <style>
          .u-section-2 {
            background-image: linear-gradient(0deg, rgba(0,0,0,0.25), rgba(0,0,0,0.25)), url("https://res.cloudinary.com/dp6oxybgv/image/upload/v1656254871/5069d350-ae20-4e03-8b17-a01466b572c7_no3lpj.jpg");
            background-position: 50% 50%;
            background-repeat: no-repeat;
            -webkit-background-size: 110% auto;
          } 
          video { max-width: 100%; height: auto; }
          .bg-info {
          background-color: #F6B2A6 !important;
        }
        </style>
        
        

        <title>Welcome to Bright Future Infant and Primary School!</title>

        
    </head>
    <body>

      {{>navbar}}
      <p></p>
      {{{body}}}
      <p></p>
      {{{footer}}}
    
      
      <!-- Latest compiled and minified JavaScript -->
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"></script>

    </body>
</html>