<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Welcome to Bright Future Infant and Primary School!</title>
      <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://bootswatch.com/5/zephyr/bootstrap.min.css">
    </head>
    <body>
      {{>navbar}}
      <p></p>
      {{{body}}}
      <p></p>
      {{{footer}}}
    
      
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </body>
</html>