<html>
    <head>

    </head>
    <body>
        <div>
            <center>
                
            
        <div class="col-sm-8">
            
            <div class="card mb-8">
                <div class="row">
                <div class="col-sm">
                <!--PUt your picture here-->
                <img src="https://res.cloudinary.com/dp6oxybgv/image/upload/v1635087763/sample.jpg" width="340" height="
                240"/>
            </div>
            <div class="col-sm" class="row text-left">
                <p>
                    Having worked in a stone quarry after losing my job, I interacted with a couple of women with whom I shared similar challenges.
                    Some were widows, divorced and others lived under extreme conditions of poverty.  
                     They could not provide all the basic needs for their families'education inclusive. 
                    We came together and up with the idea of opening up a Nursery school "Bright Future Infant School" on 3rd February 2003 that later evolved into a Bright Future Infant and Primary School.
                </p>

                <p>We have reached many milestones ranging from increasing school enrollment, excelling results from the National Exams, securing land, and contructing permanent buildings.
                     We are also beneficiaries of the online mentoring program of Village book buildings.

                    
                
                </p>
            </div>
            </div>
            </div>
        </div>
            </center>


            
        </div>
    </body>
</html> 