<html>
    <head>

    </head>
    <body>
        <div>
            <img src="https://res.cloudinary.com/dp6oxybgv/image/upload/v1635087763/sample.jpg" width="340" height="
            240"/>
            iloooooves

            <p>this is a school</p>
        </div>
    </body>
</html>