<html>
    <head>

    </head>
    <body>
        <div>
            <center>
                
            
        <div class="col-sm-10">
            <h1>About us</h1>
            <div class="card mb-10">
                <div class="card-body">
                    <div class="row">
                    <div class="col-sm">
                        
                       <div class="container-fluid"> 
                            <img src="https://res.cloudinary.com/dp6oxybgv/image/upload/v1656254871/76833319-3130-4f34-bea8-0e759161e8e5_xjszvp.jpg" class="img-fluid" style="min-width: 360px;"/>
                        </div> 
                    </div>
                
            
                    <div class="col-sm">
                        <h4 class="card-title">How it all started</h4>
                        <p class="card-text">
                            Having worked in a stone quarry after losing my job, I interacted with a couple of women with whom I shared similar challenges.
                            Some were widows, divorced and others lived under extreme conditions of poverty.  
                            They could not provide all the basic needs for their families'education inclusive. 
                            We came together and up with the idea of opening up a Nursery school "Bright Future Infant School" on 3rd February 2003 that later evolved into a Bright Future Infant and Primary School.
                        </p>

                        <p class="card-text">
                            We have reached many milestones ranging from increasing school enrollment, excelling results from the National Exams, securing land, and contructing permanent buildings.
                            We are also beneficiaries of the online mentoring program of Village book builders.

                        </p>

                        <p class="card-text">
                            Our mission is to provide high standards of learning experiences to learners in a secure and caring environment.  We are committed to producing literate and competent students who qualify for secondary education.
                        </p>


                        
                    </div>
                </div>
                </div>
            </div>
            <p></p>

            <h1>Site developers</h1>
            <div class="row justify-content-center">
                <div class="col-sm-3">
                    <div class="card">
                        <img class="card-img-top" src="https://res.cloudinary.com/dp6oxybgv/image/upload/w_1000,ar_1:1,c_fill,g_auto,e_art:hokusai/v1641134696/65f5b3f2-b12a-46fe-aed5-0cff949b2e2c_cu0jrx.jpg"  alt="card image cap"/>
                        <h4 class="card-title">Graham</h4>
                        <p class="card-text">
                            Project Mentor
                        </p>
                    </div>
                </div>

                <div class="col-sm-3">
                    <div class="card">
                        <img class="card-img-top" src="https://res.cloudinary.com/dp6oxybgv/image/upload/w_1000,ar_1:1,c_fill,g_auto,e_art:hokusai/v1658076852/0839b3cb-702f-4475-b57f-075b4feab6c0_j0j8wc.jpg"  alt="card image cap"/>
                        <h4 class="card-title">Amon</h4>
                        <p class="card-text">
                            Amon likes to ask questions.
                        </p>
                    </div>
                </div>

                <div class="col-sm-3">
                    <div class="card">
                        <img class="card-img-top" src="https://res.cloudinary.com/dp6oxybgv/image/upload/w_1000,ar_1:1,c_fill,g_auto,e_art:hokusai/v1642348661/anold_ceizxu.jpg"  alt="card image cap"/>
                        <h4 class="card-title">Anold</h4>
                        <p class="card-text">
                            Anold likes to try every  thing.
                        </p>
                    </div>
                </div>

                
            </div>
            <p></p>
            <div class="row justify-content-center ">

                <div class="col-sm-3">
                    <div class="card">
                        <img class="card-img-top" src="https://res.cloudinary.com/dp6oxybgv/image/upload/v1648398643/c865a1db-867a-47ab-8bf4-a56e7b5767d0_sqrgwq_z7tcnu.jpg" alt="card image cap"/>
                        <h4 class="card-title">Richard</h4>
                        <p class="card-text">
                            Project Mentor
                        </p>
                    </div>
                </div>
            
               <div class="col-sm-3">
                    <div class="card">
                        <img class="card-img-top" src="https://res.cloudinary.com/dp6oxybgv/image/upload/w_1000,ar_1:1,c_fill,g_auto,e_art:hokusai/v1658076852/cad9f5c6-c63d-4adc-aa9a-4e31e6b8bc43_cd9mjc.jpg" alt="card image cap"/>
                        <h4 class="card-title">Andrew</h4>
                        <p class="card-text">
                        Andrew is ever excited to every thing.   
                        </p>
                    </div>
                </div>

                <div class="col-sm-3">
                    <div class="card">
                        <img class="card-img-top" src="https://res.cloudinary.com/dp6oxybgv/image/upload/w_1000,ar_1:1,c_fill,g_auto,e_art:hokusai/v1658076852/6f872e8d-8d4c-464c-a12d-2fd0f16e668c_ocdmjo.jpg " alt="card image cap"/>
                        <h4 class="card-title">Farouk</h4>
                        <p class="card-text">
                            Farouk is so happy.
                        </p>
                    </div>
                </div> 

                <div class="col-sm-3">
                    <div class="card">
                        <img class="card-img-top" src="https://res.cloudinary.com/dp6oxybgv/image/upload/w_1000,ar_1:1,c_fill,g_auto,e_art:hokusai/v1642949901/WhatsApp_Image_2022-01-23_at_5.53.40_PM_pdukek.jpg" alt="card image cap"/>
                        <h4 class="card title">Sowedi</h4>
                        <p class="card-text">
                            Sowedi is funny and playful.
                        </p>
                    </div>
                </div>
            </div>
            </center>


            h
        </div>
        
    </body>
</html> 