<h4>This is just another boring weather app</h4>
<h6>Created by Richard Pham</h6>
<a href="https://www.instagram.com/the_crazy_airman/" class="btn btn-info">Instagram</a>
<a href="https://www.github.com/rpham2234" class="btn btn-info">Github</a>