<html>
    <head>

    </head>
    <body>
        <h1 class="d-flex justify-content-center" >Our classes</h1>
        <div class="d-flex justify-content-center">
           
            <div class="col-sm-9">
                <div class="card mb-3">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-7">
                                <img src="https://res.cloudinary.com/dp6oxybgv/image/upload/v1645976175/d9dae8cf-f4e2-443f-b926-bffac3d3d976_asfm9a.jpg" class="img-responsive" width="640"/>
                            </div>
                            <div class="col-md-5">
                                <h4 class="card-title">Primary 1</h4>
                                <h6 class="card-subtitle mb-2 text-muted">Prerequisites: </h6>
                                <p class="card-text">Course Description</p>
                            </div>
                        </div>
                    </div>
                </div> 

                <div class="card mb-3">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-7">
                                <img src="https://res.cloudinary.com/dp6oxybgv/image/upload/v1645976175/0f48c1a2-baf2-403c-852d-227cfaa75da1_lcasp9.jpg" class="img-responsive" width="640"/>
                                
                            </div> 
                            <div class="col-md-5" >
                                <h4 class="card-title">Primary 2</h4>
                                <h6  class="card-subtitle mb-2 text-muted">prerequisites:</h6>
                                <p class="card-text""">course Description</p>

                            
                            </div>      
                        </div>            
                    </div>
                </div>

                 <div class="card mb-3">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-7">
                                <img src="https://res.cloudinary.com/dp6oxybgv/image/upload/v1645976175/611b5f30-c1be-4faa-ac98-e1c6775da225_wmwnqs.jpg" class="img-responsive" width="640"/>
                            </div> 
                            <div class="col-md-5" >
                                <h4 class="card-title">Primary 3</h4>
                                <h6  class="card-subtitle mb-2 text-muted">prerequisites:</h6>
                                <p class="card-text""">Teaching about living thing, soil erosion,rust and addition with 2 digits.</p>

                            
                            </div>      
                        </div>            
                    </div>
                </div>

                 <div class="card mb-3">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-7">
                                <img src="https://res.cloudinary.com/dp6oxybgv/image/upload/v1645976175/febb080b-f569-4ce2-a6aa-aadd32a4d6e7_tsctyq.jpg" class="img-responsive" width="640"/>
                            </div> 
                            <div class="col-md-5" >
                                <h4 class="card-title">Primary 4</h4>
                                <h6  class="card-subtitle mb-2 text-muted">prerequisites:</h6>
                                <p class="card-text""">course Description</p>

                            
                            </div>      
                        </div>            
                    </div>
                </div>

                <div class="card mb-3">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-7">
                                <img src="https://res.cloudinary.com/dp6oxybgv/image/upload/v1645976175/611b5f30-c1be-4faa-ac98-e1c6775da225_wmwnqs.jpg" class="img-responsive" width="640"/>
                            </div> 
                            <div class="col-md-5" >
                                <h4 class="card-title">Primary 5</h4>
                                <h6  class="card-subtitle mb-2 text-muted">prerequisites:</h6>
                                <p class="card-text""">co</p>

                            
                            </div>      
                        </div>            
                    </div>
                </div>

                 <div class="card mb-3">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-7">
                                <img src="https://res.cloudinary.com/dp6oxybgv/image/upload/v1645976175/febb080b-f569-4ce2-a6aa-aadd32a4d6e7_tsctyq.jpg" class="img-responsive" width="640"/>
                            </div> 
                            <div class="col-md-5" >
                                <h4 class="card-title">Primary 6</h4>
                                <h6  class="card-subtitle mb-2 text-muted">prerequisites:</h6>
                                <p class="card-text""">Teaching about people of East African community, Bacteria,Fungi, changes and kingdoms.</p>

                            
                            </div>      
                        </div>            
                    </div>
                </div>

                 <div class="card mb-3">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-7">
                                <img src="https://res.cloudinary.com/dp6oxybgv/image/upload/v1645976175/0ac4ef17-805b-42b1-8670-ea48d1671cc4_codhz3.jpg" class="img-responsive" width="640" />
                            </div> 
                            <div class="col-md-5" >
                                <h4 class="card-title">Primary 7</h4>
                                <h6  class="card-subtitle mb-2 text-muted">prerequisites:</h6>
                                <p class="card-text""">Teaching about machines, matter and energy, human skeleton, ratios, people of africa, electricity, climate , ocean currents and taps.</p>

                            
                            </div>      
                        </div>            
                    </div>
                </div>

                </div>
                
                
                
            </div>

            
        </div>                   
    </body>
</html>