<html>
    <head>

    </head>
    <body>
        <center>
          <div class="col-sm-8">
              <div class="card mb-3">
                <div class="card-body">
                    <img src="https://res.cloudinary.com/dp6oxybgv/image/upload/v1635089987/campus_jjent3.png"/>
                    <h4 class="card-title">nusula</h4>
                    <h6 class="card-subtitle mb-2 text-muted">primary 1 teacher</h6>
                    <p class="card-text">I love richard

                    </p>
                    
                </div>
                </div>

                <div class="card mb-3">
                <div class="card-body">
                    <img src="https://res.cloudinary.com/dp6oxybgv/image/upload/v1635089987/campus_jjent3.png"/>
                    <h4 class="card-title">kasifa</h4>
                    <h6 class="card-subtitle mb-2 text-muted">primary 1 teacher</h6>
                    <p class="card-text">iam the best</p>
                    
                </div>
                </div>

                <div class="card mb-3">
                <div class="card-body">
                    <img src="https://res.cloudinary.com/dp6oxybgv/image/upload/v1635089987/campus_jjent3.png"/>
                    <h4 class="card-title">greg white</h4>
                    <h6 class="card-subtitle mb-2 text-muted">primary 3 teacher</h6>
                    <p class="card-text">God is good</p>
                    
                </div>
                </div>
          </div>
        </center>
    </body>

</html>