<html>
    <head>

    </head>
    <body>
        <h1 class="d-flex justify-content-center" >Our classes</h1>
        <div class="d-flex justify-content-center">
           
            <div class="col-sm-9">
                <div class="card mb-3">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-5">
                                <img src="https://res.cloudinary.com/dp6oxybgv/image/upload/v1635089987/campus_jjent3.png" class="img-responsive" height="480"/>
                            </div>
                            <div class="col-md-7">
                                <h4 class="card-title">Course Title</h4>
                                <h6 class="card-subtitle mb-2 text-muted">Prerequisites: </h6>
                                <p class="card-text">Course Description</p>
                            </div>
                        </div>
                    </div>
                </div> 

                <div class="card mb-3">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-5">
                                <img src="https://res.cloudinary.com/dp6oxybgv/image/upload/v1635089987/campus_jjent3.png" class="img-responsive" height="480"/>
                            </div> 
                            <div class="col-md-7" >
                                <h4 class="card-title">course title</h4>
                                <h6  class="card-subtitle mb-2 text-muted">prerequisites:</h6>
                                <p class="card-text""">course Description</p>

                            
                            </div>      
                        </div>            
                    </div>
                </div>

                 <div class="card mb-3">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-5">
                                <img src="https://res.cloudinary.com/dp6oxybgv/image/upload/v1635089987/campus_jjent3.png" class="img-responsive" height="480"/>
                            </div> 
                            <div class="col-md-7" >
                                <h4 class="card-title">course title</h4>
                                <h6  class="card-subtitle mb-2 text-muted">prerequisites:</h6>
                                <p class="card-text""">course Description</p>

                            
                            </div>      
                        </div>            
                    </div>
                </div>

                 <div class="card mb-3">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-5">
                                <img src="https://res.cloudinary.com/dp6oxybgv/image/upload/v1635089987/campus_jjent3.png" class="img-responsive" height="480"/>
                            </div> 
                            <div class="col-md-7" >
                                <h4 class="card-title">course title</h4>
                                <h6  class="card-subtitle mb-2 text-muted">prerequisites:</h6>
                                <p class="card-text""">course Description</p>

                            
                            </div>      
                        </div>            
                    </div>
                </div>

                 <div class="card mb-3">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-5">
                                <img src="https://res.cloudinary.com/dp6oxybgv/image/upload/v1635089987/campus_jjent3.png" class="img-responsive" height="480"/>
                            </div> 
                            <div class="col-md-7" >
                                <h4 class="card-title">course title</h4>
                                <h6  class="card-subtitle mb-2 text-muted">prerequisites:</h6>
                                <p class="card-text""">course Description</p>

                            
                            </div>      
                        </div>            
                    </div>
                </div>

    
                </div>
            </div>
        </div>                   
    </body>
</html>