<html>
    <head>

    </head>
    <body>
        <h1 class="d-flex justify-content-center" >Our classes</h1>
        <div class="d-flex justify-content-center">
           
            <div class="col-sm-9">
                <div class="card mb-3">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-7">
                                <img src="https://res.cloudinary.com/dp6oxybgv/image/upload/v1645976175/d9dae8cf-f4e2-443f-b926-bffac3d3d976_asfm9a.jpg" class="img-fluid" style="min-width: 360px;"/>
                            </div>
                            <div class="col-md-5">
                                <h4 class="card-title">Primary 1</h4>
                                <h6 class="card-subtitle mb-2 text-muted">Prerequisites: None!</h6>
                                <p class="card-text">(English,Science and Social studies)
                                    <ul>
                                    <li>Our home and Community</li>
                                    <li> Our Sub-county/Division</li>
                                    <li>Livelihood in our sub county</li>
                                    <li>Environment in  Subcounty</li>
                                   <li> Environment and weather</li>
                                   <li> Living things in our sub county</li>
                                   <li>Common plants</li>
                                   <li>Managing Resources</li>
                                  <li>Keeping peace in our sub county</li>
                                   <li> Culture and Gender</li> 
                                   <li> Healthy in our sub county</li>
                                   <li> Basic technology in our sub county</li>
                                   <li> Energy in our sub county</li>
                                    </ul>
</p>
                            </div>
                        </div>
                    </div>
                </div> 

                <div class="card mb-3">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-7">
                                <img src="https://res.cloudinary.com/dp6oxybgv/image/upload/v1645976175/0f48c1a2-baf2-403c-852d-227cfaa75da1_lcasp9.jpg" class="img-fluid" style="min-width: 360px;"/>
                                
                            </div> 
                            <div class="col-md-5" >
                                <h4 class="card-title">Primary 2</h4>
                                <h6  class="card-subtitle mb-2 text-muted">Prerequisites: Pass Primary 1</h6>
                                <p class="card-text""">(Literacy,Social Studies and English)
                                    <ul>
                                  <li> Our home and Community</li>
                                   <li> Human body and Health</li>
                                   <li> Food and Nutrition</li>
                                   <li> Our environment</li>
                                    <li>Things we make</li>
                                   <li> Transport in our community</li>
                                   <li>Accidents and Safety</li>
                                   <li> Peace and Security</li>
                                   <li> Recreation,Festivals and Holidays</li>

                                </ul></p>

                            
                            </div>      
                        </div>            
                    </div>
                </div>

                 <div class="card mb-3">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-7">
                                
                                <img src="https://res.cloudinary.com/dp6oxybgv/image/upload/v1645976175/611b5f30-c1be-4faa-ac98-e1c6775da225_wmwnqs.jpg" class="img-fluid" style="min-width: 360px;"/>
                            
                            </div> 
                            <div class="col-md-5" >
                                <h4 class="card-title">Primary 3</h4>
                                <h6  class="card-subtitle mb-2 text-muted">Prerequisites: Pass Primary 2</h6>
                                <p class="card-text"""><ul>
                                    <li>Our school and neighborhood</li>
                                    <li>Our home and Community</li>
                                    <li>Human body and Health</li>
                                    <li>Food and Nutrition</li>
                                    <li>Our environment</li>
                                    <li>Things we make</li>
                                    <li>Transport in our community</li>
                                    <li>Accidents and Safety</li>
                                    <li>Peace and Security</li>
                                    <li>Child protection</li>

                                </ul></p>

                            
                            </div>      
                        </div>            
                    </div>
                </div>

                 <div class="card mb-3">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-7">
                                <img src="https://res.cloudinary.com/dp6oxybgv/image/upload/v1645976175/febb080b-f569-4ce2-a6aa-aadd32a4d6e7_tsctyq.jpg" class="img-fluid" style="min-width: 360px;"/>
                            </div> 
                            <div class="col-md-5" >
                                <h4 class="card-title">Primary 4</h4>
                                <h6  class="card-subtitle mb-2 text-muted">Prerequisites: Pass Primary 3</h6>
                                <p class="card-text""">Social Studies:
                                                    <ul>
                                                   <li> Places, people, resources and economic activity in our district.
                                                   
                                                    </ul>
                                                 Math:(primary four up to primary seven)
                                                    <ul>
                                                    <li>Set concepts</li>
                                                    <li>Numeration systems and place values</li>
                                                    <li>Operations on numbers</li>
                                                    <li>Sequences</li>
                                                    <li>Integers</li>
                                                    <li>Fractions</li>
                                                    <li>Measures1</li>
                                                    <li>Geometry</li>
                                                    <li>Numeration systems and place value.</li>
                                                    <li>Graphs</li>
                                                    <li>Measure2</li>
                                                   </li>Algebra</li>
                                                    </ul>

                                                    Science
                                                    <ul>
                                                   <li> The world of living things</li>
                                                    <li>Matter and energy</li>
                                                    <li>The environment</li>
                                                    <li>The human body</li>
                                                    </ul>
                                                    </p>

                            
                            </div>      
                        </div>            
                    </div>
                </div>

                <div class="card mb-3">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-7">
                                <img src="https://res.cloudinary.com/dp6oxybgv/image/upload/v1645976175/611b5f30-c1be-4faa-ac98-e1c6775da225_wmwnqs.jpg" class="img-fluid" style="min-width: 360px;"/>
                            </div> 
                            <div class="col-md-5" >
                                <h4 class="card-title">Primary 5</h4>
                                <h6  class="card-subtitle mb-2 text-muted">Prerequisites: Pass Primary 4</h6>
                                <p class="card-text""">Social Studies:
                                <ul>
                                   <li>Places, people, resources and economic activity in our district.</li>
                                </ul>
                                English.
                                <ul>
                                    <li>Vehicle repair and maintenance.</li>
                                    <li>Print Media.</li>
                                   <li> Traveling.</li>
                                   <li>Letter writing.</li>
                                    <li>Communication.</li>
                                   <li> Culture.</li>
                                </ul>    
                                
                                Science
                                <ul>
                                    <li>Crop growing.</li>
                               <li>Keeping poultry and Bees.</li>
                                <li>Keeping Rabbits.</li>
                                <li>Keeping goats, sheep and pigs.</li>
                                <li>Matter and Energy.</li>
                               <li>The Environment.</li>
                               <li> Managing Changes in the environment.</li>
                                <li>Human Healthy.</li>
                               <li> Human Body.</li>
                                </ul>
</p>

                            
                            </div>      
                        </div>            
                    </div>
                </div>

                 <div class="card mb-3">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-7">
                                <img src="https://res.cloudinary.com/dp6oxybgv/image/upload/v1645976175/febb080b-f569-4ce2-a6aa-aadd32a4d6e7_tsctyq.jpg" class="img-fluid" style="min-width: 360px;"/>
                            </div> 
                            <div class="col-md-5" >
                                <h4 class="card-title">Primary 6</h4>
                                <h6  class="card-subtitle mb-2 text-muted">Prerequisites: Pass Primary 5</h6>
                                <p class="card-text""">
                                    Social Studies:
                                    <ul>
                                    <li>Our region in Africa</li>
                                  Places, people, and economic activities in our region.</li>
                                    </ul>

                                    English
                                    
                                    <ul>
                                     <li>Safety on the road</li>
                                     <li>Debating</li>
                                     <li>Family relationships</li>
                                     <li>Occupations</li>
                                     <li>Hotels</li>
                                     <li>Using a dictionary</li>
                                    </ul>
                                    Science
                                    <ul>    
                                    <li> Bacteria and Fungi</li>
                                    <li> Classification of animals</li>
                                     <li>Classification of plants</li>
                                     <li>Resource in the environment</li>
                                     <li>Biological, physical and chemical changes.</li>
                                     <li>Occupations in our community</li>
                                     <li>Keeping goats, sheep and pigs</li> 
                                     <li>Keeping Cattle</li>
                                     <li>Science at home and in our community</li>
                                     <li>Primary Health Care</li>
                                     <li>Food and nutrition</li>
                                     <li>Sanitation</li>
                                     <li>Accidents and First aid</li>
                                     <li>Alcohol, smoking and drugs in a society</li>
                                     <li>The Circulatory system</li>
                                     <li>The Respiratory System</li>
                                     <li>The reproductive system</li>
                                     <li>Sound energy</li>
                                    </ul>
</p>

                            
                            </div>      
                        </div>            
                    </div>
                </div>

                 <div class="card mb-3">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-7">
                                <img src="https://res.cloudinary.com/dp6oxybgv/image/upload/v1645976175/0ac4ef17-805b-42b1-8670-ea48d1671cc4_codhz3.jpg" class="img-fluid" style="min-width: 360px;" />
                            </div> 
                            <div class="col-md-5" >
                                <h4 class="card-title">Primary 7</h4>
                                <h6  class="card-subtitle mb-2 text-muted">Prerequisites: Pass Primary 6</h6>
                                <p class="card-text""">

                                                Social studies
                                                <ul>
                                                <li>Our continent: Places, people and economic activities in our Continent.</li>
                                                </ul>
                                                <ul>
                                                English
                                                
                                                <li>School Holidays</li>
                                                <li>Letter Writing</li>
                                               <li> Examinations</li>
                                                <li>Electronic Media</li>
                                                <li>Rights, Responsibility and Freedom</li>
                                               <li> Environmental Protection</li>
                                                <li>Ceremonies</li>
                                                </ul>
                                                Science
                                                <ul>
                                               <li> Sanitation</li>
                                               <li> Human Health</li>
                                               <li> Human Activities and Occupations</li>
                                               <li> Human Body</li>
                                               <li> Matter and Energy</li>
                                               <li> The Environment</li>
                                               <li> Community, population and Family Life</li>
                                               </ul>
                                            </p>

                            
                            </div>      
                        </div>            
                    </div>
                </div>

                </div>
                
                
                
            </div>

            
        </div>                   
    </body>
</html>