<html>
    <head>

    </head>
    <body>
        <center>
            <h1>Our classes</h1>
            <div class="col-sm-9">
                <div class="card mb-3">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-5">
                                <img src="https://res.cloudinary.com/dp6oxybgv/image/upload/v1635089987/campus_jjent3.png" class="img-responsive" height="480"/>
                            </div>
                            <div class="col-md-7">
                                <h4 class="card-title">Course Title</h4>
                                <h6 class="card-subtitle mb-2 text-muted">Prerequisites: </h6>
                                <p class="card-text">Course Description</p>
                            </div>
                        </div>
                    </div>
                </div> 

                <div class="card mb-3">
                    <div class="card-body">
                        <img src="https://res.cloudinary.com/dp6oxybgv/image/upload/v1635089987/campus_jjent3.png" width="640" height="480"/>
                        <h4 class="card-title">primary 2</h4>
                        
                        <p class="card-text">I the best</p>
                        
                    </div>
                </div>

                <div class="card mb-3">
                <div class="card-body">
                    <img src="https://res.cloudinary.com/dp6oxybgv/image/upload/v1635089987/campus_jjent3.png" width="640"  height="480"/>
                    <h4 class="card-title">Primary 3</h4>
                    
                    <p class="card-text">Who am i</p>
                    
                </div>
                </div>
                <div class="card mb-3">
                <div class="card-body">
                    <img src="https://res.cloudinary.com/dp6oxybgv/image/upload/v1635089987/campus_jjent3.png" width="640" height="480"/>
                    <h4 class="card-title">Primary 4</h4>
                    
                    <p class="card-text">
                        christmass

                    </p>
                    
                </div>
                </div>

                <div class="card mb-3">
                <div class="card-body">
                    <img src="https://res.cloudinary.com/dp6oxybgv/image/upload/v1635089987/campus_jjent3.png"width="640" height="480" />
                    <h4 class="card-title">primary 5  </h4>
                    
                    <p class="card-text">I the best</p>
                    
                </div>
                </div>

                <div class="card mb-3">
                <div class="card-body">
                    <img src="https://res.cloudinary.com/dp6oxybgv/image/upload/v1635089987/campus_jjent3.png" width="640" height="480"/>
                    <h4 class="card-title">Primary 6 </h4>
                    
                    <p class="card-text">Who am i</p>
                    
                </div>
                </div>
                <div class="card mb-3">
                <div class="card-body">
                    <img src="https://res.cloudinary.com/dp6oxybgv/image/upload/v1635089987/campus_jjent3.png" width="640"  height="480"/>
                    <h4 class="card-title">Primary 7 </h4>
                    
                    <p class="card-text">Who am i</p>
                    
                </div>
                </div>
            </div>
        </center>
    </body>

</html>