<html>
    <head>

    </head>
    <body>
        <div>
            <center>
                
            
        <div class="col-sm-10">
            <h1>Donate</h1>
            <div class="card mb-10">
                <div class="card-body">
                    <div class="row">
                    <div class="col-sm">
                        
                       <div class="container-fluid"> 
                            <img src="https://res.cloudinary.com/dp6oxybgv/image/upload/v1656254871/76833319-3130-4f34-bea8-0e759161e8e5_xjszvp.jpg " class="img-fluid" style="min-width: 360px;"/>

                            <p>We are commited to producing literate and competent students who qualify for secondary education.</p>
                        </div> 
                    </div>
                
            
                    <div class="col-sm">
                        <div class="d-grid gap-2">
                    <button class="btn btn-lg btn-primary" type="button">$10</button>
                    <button class="btn btn-lg btn-primary" type="button">$20</button>
                    <button class="btn btn-lg btn-primary" type="button">$50</button>


                        <div class="form-group">
                        <div class="input-group mb-3">
                            <span class="input-group-text">$</span>
                            <input type="text" class="form-control" placeholder="Enter other amount" aria-label="Amount (to the nearest dollar)">
                            <span class="input-group-text">.00</span>
                        </div>
                        
                    </div><button class="btn btn-lg btn-info " type="button">donate with paypal</button>
                    </div>
                    </div>
                </div>
                </div>
            </div>
            <p></p>

   
            </center>


            h
        </div>
        
    </body>
</html> 