<html style="font-size: 16px;" class="u-responsive-lg"><head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="keywords" content="PC gaming news, reviews, and guides">
    <meta name="description" content="">
    <meta name="page_type" content="np-template-header-footer-from-plugin">
    <title>About</title>
    <link rel="stylesheet" href="/nicepage.css?version=aa4c7aa7-8afa-407f-9c6a-41cc7e176afe" media="screen">
    <script class="u-script" type="text/javascript" src="//static.nicepage.com/shared/assets/jquery-1.9.1.min.js" defer=""></script>
    <script class="u-script" type="text/javascript" src="//capp.nicepage.com/acd4119266bc153c12a29a6b767f487263de7c56/nicepage.js" defer=""></script>
    
    <link id="u-theme-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i">
    <link id="u-page-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i">
    <style class="u-style">
  .u-section-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.25), rgba(0,0,0,0.25)), url("https://res.cloudinary.com/lunchapp/image/upload/v1633876863/IMG_20190918_073653_2_1_kwysib.jpg");
  background-position: 35% 45%;
}

 .card {
   margin: 0;
   height: 100%;
 }
}</style>
    
  
</head>

  <body class="u-section-2">

  
    <center>
    <section class=""  src="" >
      <div class="card-title">
        <center><h1 style="font-size:72px" class="text-light"> Fear God And Excel!</h1></center>
      </div>
        <div class="card-body">
          <p class="u-text u-text-body-alt-color u-text-4 text-light"  style="font-size:30px;">
            Our mission to provide quality education for all!
          </p>
          <p> 
            <!--This is a placeholder video! Kasifa, Graham: Please record a video to promote the school and put it on YouTube-->
            <iframe width="1152" height="864" src="https://www.youtube.com/embed/dQw4w9WgXcQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </p>
          <a class="btn btn-lg btn-dark bg-info" type="button" href="/signup">Enroll now</a>
        </div>
        
      
    </section>
  </div>
  </center>
  
</body></html>