<html>
  <body class="u-section-2">
      <center>
        <section>
          <div class="card-title">
            <center><h1 style="font-size:72px" class="text-light">Fear God And Excel!</h1></center>
          </div>
          <div class="card-body">
              <h4 class="u-text u-text-body-alt-color u-text-4 text-light"  style="font-size:30px;">
                Our mission is to provide high standards of learning experiences to learners in a secure and caring environment.
              </h4>
              <div class="container-fluid"> 
                <video controls>
                  <source src="https://res.cloudinary.com/dp6oxybgv/video/upload/v1640240630/20_Mukono_Uganda_Mentors_-_Group_-_Workplace_pb1jqz.mp4" type="video/mp4"/>
                  We are having trouble playing the video right now. Try refreshing your browser or click <a href="https://res.cloudinary.com/dp6oxybgv/video/upload/v1640240630/20_Mukono_Uganda_Mentors_-_Group_-_Workplace_pb1jqz.mp4">here</a>
                  to download the video.
                </video>
              </div>
              <a class="btn btn-lg bg-info text-light" type="button" href="/signup">Enroll now</a>
          </div>
        </section>
    </center>
    
  </body>
</html>