<html>
    <head>

    </head>
    <body>
    <!--Kasifa: Please take recent photos of the teachers, and their classrooms-->
    <!--Graham: We'll need to link Git to your Github Account, and then I'll add you to this repo-->
    <!--Anold, Farouk, Ammon, Sowedi: Next Lesson, we'll work on designing this page, then I'll help you code the site-->
    <h1>wholeworld</h1>
    <h1>success</h1>
    <img src="https://res.cloudinary.com/dp6oxybgv/image/upload/v1635089987/nusuula_zbwkw7.jpg"/>
    <img src="https://res.cloudinary.com/dp6oxybgv/image/upload/v1635087763/sample.jpg"/>
    </body>
</html>