<html>
    <head>
    </head>
    <body>
            <h1 class="d-flex justify-content-center">Our Teachers</h1>
            <div class="d-flex justify-content-center">
                <div class="col-sm-9" >
                <div class="card mb-3">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-5">
                            <img src="https://res.cloudinary.com/dp6oxybgv/image/upload/c_scale,h_454/v1635089987/nusuula_zbwkw7.jpg" class="img-responsive" />
                        </div>
                        <div class="col-md-7">
                            <h4 class="card-title">Nusula</h4>
                            <h6 class="card-subtitle mb-2 text-muted">Primary 1</h6>
                            <p class="card-text">Some brief description about this person</p>
                        </div>
                    </div>
                </div>    
  
            
                </div>
                <div class="card mb-3">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-5">
                                <img src="https://res.cloudinary.com/dp6oxybgv/image/upload/c_scale,h_358/v1635089987/kasifa_eolyrr.jpg" class="img-responsive"/>
                            </div>
                            <div class="col-md-7">
                                <h4 class="card-title">kasifa</h4>
                                <h6 class="card-subtitle mb-2 text-muted">primary 1 teacher</h6>
                                <p class="card-text">iam the best</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card mb-3">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-5">
                                <img src="https://res.cloudinary.com/dp6oxybgv/image/upload/v1635694988/download_afl3l4.jpg" class="img-responsive"/>
                            </div>
                            <div class="col-md-7">
                                <h4 class="card-title">greg white</h4>
                                <h6 class="card-subtitle mb-2 text-muted">primary 3 teacher</h6>
                                <p class="card-text">God is good</p>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
            </div>
        
    </body>

</html>