<html>
    <head>
    </head>
    <body>
            <h1 class="d-flex justify-content-center">Our Teachers</h1>
            <div class="d-flex justify-content-center">
                <div class="col-sm-9" >
                <div class="card mb-3">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-5">
                                                            <img src="https://res.cloudinary.com/dp6oxybgv/image/upload/w_1000,ar_1:1,c_fill,g_auto,e_art:hokusai/v1639324147/e3c93407-996f-4c65-b274-9f5b95ffe3f6_tyoblg.jpg" class="img-responsive" height="240" />

                        </div>
                        <div class="col-md-7">
                            <h4 class="card-title">Nantumbwe Kasifa</h4>
                            <h6 class="card-subtitle mb-2 text-muted">Teaching Social studies and Maths.</h6>
                            <p class="card-text">Headmistress of Bright Future infant and Primary School.
 Favorite quote.” Education is the most powerful weapon which you can use to change the world’     Nelson Mandera
</p>
                        </div>
                    </div>
                </div>    
  
            
                </div>
                <div class="card mb-3">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-5">
                                                           <img src="https://res.cloudinary.com/dp6oxybgv/image/upload/w_1000,ar_1:1,c_fill,g_auto,e_art:hokusai/v1645976175/3b7f445e-eec4-48e5-8bdf-d7d4b2428d43_ojsihu.jpg" class="img-responsive" height="240"/>

                            </div>
                            <div class="col-md-7">
                                <h4 class="card-title">Nabwami Nusulah</h4>
                                <h6 class="card-subtitle mb-2 text-muted">Teaching Maths and Literacy in lower primary</h6>
                                <p class="card-text">Favorite quote. "A winner is a dreamer who never gives up." Nelson Mandera</p>
                            </div>.
                        </div>
                    </div>
                </div>

                <div class="card mb-3">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-5">
                                <img src="https://res.cloudinary.com/dp6oxybgv/image/upload/w_1000,ar_1:1,c_fill,g_auto,e_art:hokusai/v1645976174/3e36b70a-5da0-43e4-9821-a7301384b434_alhwwf.jpg" class="img-responsive" height="240"/>
                            </div>
                            <div class="col-md-7">
                                <h4 class="card-title">Nanyonga Magret</h4>
                                <h6 class="card-subtitle mb-2 text-muted">Teaching social studies and literacy in Lower primary.</h6>
                                <p class="card-text">Favorite quote. "An investment in education pays the best interest" Benjamin Franklin.</p>
                            </div>
                            
                        </div>
                    </div>
                </div>

                <div class="card mb-3">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-5">
                            <img src="https://res.cloudinary.com/dp6oxybgv/image/upload/ar_1:1,c_fill,e_art:hokusai,g_auto,w_1000/v1641134696/65f5b3f2-b12a-46fe-aed5-0cff949b2e2c_cu0jrx.jpg" class="img-responsive" height="240"/>
                        </div>
                        <div class="col-md-7">
                            <h4 class="card-title">Ssendagire Graham</h4>
                            <h6 class="card-subtitle mb-2 text-muted">Teaching Mathematics and Science in Upper primary.</h6>
                            <p class="card-text">Favorite quote. "The roots of education are bitter but the fruits are sweet" Aristotle.</p>
                        </div>
                    </div>
                </div>    
  
            
                </div>
                <div class="card mb-3">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-5">
                                <img src="https://res.cloudinary.com/dp6oxybgv/image/upload/w_1000,ar_1:1,c_fill,g_auto,e_art:hokusai/v1646582836/5c33566f-a916-459d-9cb3-0748cd3146a5_j3codr.jpg" class="img-responsive" height="240" />
                            </div>
                            <div class="col-md-7">
                                <h4 class="card-title">Brenda Kifuko.</h4>
                                <h6 class="card-subtitle mb-2 text-muted">Teaching Social studies and English.</h6>
                                <p class="card-text">Favorite quote. "Education is not the learning of facts but the training of the mind to think " Albert Einstein. </p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card mb-3">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-5">
                                <img src="ss" class="img-responsive" height="240"/>
                            </div>
                            <div class="col-md-7">
                                <h4 class="card-title">Kafeero Drake.</h4>
                                <h6 class="card-subtitle mb-2 text-muted">Teaching Science and Maths.</h6>
                                <p class="card-text">Favorite quote. "Education is not preparation for life; Education is life itself"</p>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
            </div>
        
    </body>

</html>